<div class="area">
<div class="img">
    <br><br>
<div class="container" style="padding-top: 50px; align-items: center; justify-content: center; min-height: 20vh;">
    <div class="row" style="width: 100%;">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center" style="padding: 20px ;">
                <h1>Editar Usuario</h1>
    <form [formGroup]="editarform" (ngSubmit)="postform(editarform.value)">
        <div class="form-group">
            <label for="exampleFormControlInput1" style="margin-right: 100%;">ID</label>
            <input type="text" class="form-control" formControlName="usuarioid" readonly>
    </div>
            <div class="form-group" style="text-align: start;">
                    <label for="exampleFormControlInput1" style="margin-right: 100%;">Nombre</label>
                    <input type="text" class="form-control"  placeholder=" Actualizar nombre" formControlName="nombre"  maxlength="30" required>
                    <span class="text-danger ml-2" *ngIf="editarform.controls['nombre'].errors?.required && editarform.controls['nombre'].touched ">
                        Es necesario llenar el campo</span>
              </div>
              <div class="form-group" style="text-align: start;" >
                <label for="exampleFormControlInput1" style="margin-right: 100%;">Correo</label>
                <input type="email" class="form-control" placeholder="example@gmail.com" formControlName="correo" maxlength="30" required>
                <span class="text-danger ml-2" *ngIf="editarform.controls['correo'].errors?.required && editarform.controls['correo'].touched">
            Es necesario ingresar un correo electrónico</span>
            </div>
            <div class="form-group" style="text-align: start;">
            <span class="text-danger ml-2" *ngIf="editarform.controls['correo'].errors?.email">
            Es necesario ingresar un correo electrónico</span>
        </div>                       
                        <div class="form-group" style="text-align: start;">
                            <label for="exampleFormControlInput1">Contraseña</label>
                            <input type="password" class="form-control"  placeholder="Actualizar contraseña" formControlName="password" minlength="8" maxlength="16" required>
                            <span class="text-danger ml-2" *ngIf="editarform.controls['password'].errors?.required && editarform.controls['password'].touched ">
                                Es necesario ingresar una contraseña</span>
                        </div>
                        <div  class="form-group" style="text-align: start;">
                            <span class="text-danger ml-2" *ngIf="editarform.controls['password'].errors?.minlength">
                                La contraseña debe de tener al menos 8 caracteres</span>
                        </div>
                        <div class="form-group">
                            <br>
                            <label for="exampleFormControlInput1">Tipo de usuario</label>
                            <br>
                            <mat-form-field appearance="legacy" >
                                <mat-select formControlName="role">
                                  <mat-option value="admin">admin</mat-option>
                                  <mat-option value="usuario">usuario</mat-option>
                                </mat-select>
                              </mat-form-field>    
                        </div>
                <button type="submit" class="btn btn-primary" style="margin: 10px" [disabled]="editarform.invalid">Guardar</button>
                
                <button type="button" class="btn btn-dark" style="margin-left: 10px" (click)="closeform()" >Salir</button>             
                 </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

