h1{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 1.9em;
    font-weight: 500;
} 
body{
    padding: 5px;
    /* The image used */
    background-image: url(../../../../assets/fondo.jpeg) ;
              /* Full height */
              height: 100%;
}
.area{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
  }