<div class="area">
<div class="img">
    <br><br>
<div class="container" style="padding-top: 50px; align-items: center; justify-content: center; min-height: 20vh;">
    <div class="row" style="width: 100%;">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center" style="padding: 20px ;">
                <h1>Editar Recurso</h1>
    <form [formGroup]="editarform" (ngSubmit)="postform(editarform.value)">
        <div class="form-group">
            <label for="exampleFormControlInput1" style="margin-right: 100%;">ID</label>
            <input type="text" class="form-control" formControlName="recursoId" readonly>
    </div>
            <div class="form-group" style="text-align: start;">
                    <label for="exampleFormControlInput1" style="margin-right: 100%;">Nombre</label>
                    <input type="text" class="form-control"  placeholder=" Actualizar nombre" formControlName="nombre"  maxlength="30" required>
                    <span class="text-danger ml-2" *ngIf="editarform.controls['nombre'].errors?.required && editarform.controls['nombre'].touched ">
                        Es necesario llenar el campo</span>
              </div>
                    <div class="form-group" style="text-align: start;">
                    <label for="exampleFormControlInput1" style="margin-right: 100%;">Categoría</label>
                    <input type="text" class="form-control"  placeholder="Actualizar tipo" formControlName="tipo" maxlength="30" required>
                    <span class="text-danger ml-2" *ngIf="editarform.controls['tipo'].errors?.required && editarform.controls['tipo'].touched">
                        Es necesario ingresar un tipo de recurso</span>
                    </div>
                <button type="submit" class="btn btn-primary" style="margin: 10px" [disabled]="editarform.invalid">Guardar</button>
                
                <button type="button" class="btn btn-dark" style="margin-left: 10px" (click)="closeform()" >Salir</button>             
                 </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
