<body class="area">
  <div>
  <div class="twelve columns text-center">
    <h1>Tareas</h1>
  </div>
  <div class="container">
    
      <button  (click)="nuevo_recurso()" type="button" class="btn btn-success">Agregar tarea</button>
      <br><br>
  
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Categoría</th>
            <th width="305px">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recurso of recursos">
            <th scope="row">{{ recurso.recursoId }}</th>
            <td>{{ recurso.nombre }}</td>
            <td>{{ recurso.tipo }}</td>
            <td>

              <button type="button" class="btn btn-outline-primary" style="margin: 10px" (click)="editar_recurso(recurso.recursoId)">Editar</button>
        
              <button type="button" class="btn btn-outline-danger" style="margin-left: 10px" (click)="borrar_recurso(recurso.recursoId)">Borrar</button>
              
            </td>
  
          </tr>
        </tbody>
      </table>
   </div>
  </div>
  </body>