<body class="area">
  <div>
  <div class="twelve columns text-center">
    <h1>Usuarios</h1>
  </div>
<div class="container">
  <br>
    <button (click)="nuevo_usuario()" type="button" class="btn btn-success">Agregar usuario</button>
<br><br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Correo</th>
          <th scope="col">Role</th>
          <th width="305px">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <th scope="row">{{ usuario.usuarioid }}</th>
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.correo }}</td>
          <td>{{ usuario.role }}</td>
          <td>

            <button type="button" class="btn btn-outline-primary" style="margin: 10px" (click)="editar_usuario(usuario.usuarioid)">Editar</button>
      
            <button type="button" class="btn btn-outline-danger" style="margin-left: 10px" (click)="borrar_usuario(usuario.usuarioid)">Borrar</button>
            
          </td>
        </tr>
      </tbody>
    </table><br>
 </div>
</div>
</body>
