<div class="area">
<div class="img">
    <br><br>
<div class="container" style="padding-top: 50px; align-items: center; justify-content: center; min-height: 20vh;">
    <div class="row" style="width: 100%;">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center" style="padding: 20px ;">
                <h1>Eliminar Usuario</h1>
    <form [formGroup]="borrarform" (ngSubmit)="delete(borrarform.value)">
        <div class="form-group">
            <label for="exampleFormControlInput1"  style="margin-right: 100%;">ID</label>
            <input type="text" class="form-control"   formControlName="usuarioid" readonly>
    </div>
            <div class="form-group">
                    <label for="exampleFormControlInput1"  style="margin-right: 100%;">Nombre</label>
                    <input type="text" class="form-control"   formControlName="nombre" readonly>
            </div>
            <div class="form-group">
                    <label for="exampleFormControlInput1"  style="margin-right: 100%;">Correo</label>
                    <input type="text" class="form-control"   formControlName="correo" readonly>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label for="exampleFormControlInput1" >Contraseña</label>
                        <input type="text" class="form-control"   formControlName="password" readonly>     
                    </div>
                    <div class="col">
                        <label for="exampleFormControlInput1">Tipo de usuario</label>
                        <input type="text" class="form-control"   formControlName="role" readonly>     
                    </div>
                   
                </div>
                <br><br>
                <button type="submit" class="btn btn-danger" style="margin: 10px">Borrar</button>
                
                <button type="button" class="btn btn-dark" style="margin-left: 10px" (click)="closeform()" >Salir</button>
                
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
