<body>
  <div class="twelve columns text-center">
    <h1>Reportes</h1>
  </div>
<div class="container">
<br><br>
<a href="#" routerLink="/post/create/" class="btn btn-success">Actualizar</a>
<br><br>
<table class="table table-bordered">
  
  <tr>

    <th>ID</th>
        
    <th>Nombre recurso</th>

    <th>Tipo de recurso</th>

    <th>Persona asignada</th>

    <th>Hora de entrada</th>

    <th>Hora de salida</th>
  </tr>

  <tr>

    <td>1</td>

    <td>Automóvil Chevy 2020</td>

    <td>Automóvil</td>

    <td>Brayan Ocelote Ramirez</td>

    <td>6:01pm</td>

    <td>8:00pm</td>

  </tr>

</table>

</div>

</body>




